.container {
    position: relative;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.detailBox {
    justify-content: center;
    margin: 50px 100px 0px 100px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.image {
    border: 1px solid #D9D9D9;
    border-radius: 13px;
    width: 580px;
    height: 550px;
    margin-right: 50px;
    margin-top: 10px;
    cursor: pointer;
  }

  .productDetails {
    display: flex;
    flex-direction: column;
    justify-content: flex-start; 
}

.productName {
    font-size: 44px;
    font-weight: bold;
}

.productPrice {
    font-size: 34px;
}

.productShipInfo {
    max-width: 100%;
    margin-top: 20px;
    padding-bottom: 15px;
    border-bottom: 1px solid #707070;
}

.textGrey {
    color: #C8C6C6;   
}

.textMargin {
    margin-right: 72px;
}

.pickTextMargin {
    margin-right: 32px;
}


.customDropdown {
    color: #707070;
    background-color: #f8f9fa;
    border: 1px solid #707070;
    border-radius: 13px;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 20px;
    width: 508px;
    height: 60px;
}

.customDropdownCart {
    color: #FFFFFF;
    background-color: #6A90F2;
    border: none;
    border-radius: 13px;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 20px;
    width: 250px;
    height: 60px;
}

.customDropdownPay {
    color: #FFFFFF;
    background-color: #3B6EF1;
    border: none;
    border-radius: 13px;
    justify-content: space-between;
    text-align: left;
    margin-bottom: 20px;
    width: 250px;
    height: 60px;
}

.customDropdown:hover {
    color: #707070;
    background-color: #f8f9fa;
    border: 1px solid #707070;
}
.customDropdownCart:hover {
    color: #FFFFFF;
    background-color: #6A90F2;
}
.customDropdownPay:hover {
    color: #FFFFFF;
    background-color: #3B6EF1;
}


.nav-tabs {
    color: #000;
    border-bottom: none;
}

/* Style the tab links */
.nav-tabs .nav-link {
    border: none;
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-tabs .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 13px;
}

.tabBox {
    margin: 50px 100px 0px 100px;
    border: 1px solid #3B6EF1;
    border-radius: 13px;
    height: 120px;
}