.greyBox {
    height: 230px;
    background-color: rgba(217, 217, 217, 0.5);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.outerBox {
    height: 230px;
    display: flex;
    justify-content: center;
}


.horizontalScroll {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

  .innerBox {
    cursor: pointer;
    justify-content: center;
    text-align: center;
    padding: 20px;
    margin: 0 50px;
  }
  
  .innerBox img {
    justify-content: center;
    border: 3px solid #3B6EF1;
    background-color: white;
    border-radius: 13px;
    width: 100px;
    height: 100px;
    margin-top: 20px;
  }
  
  .innerBox p {
    margin-top: 15px;
    font-size: 17px;
  }